
*.dll
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/appsettings.Development.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/appsettings.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/database.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.exe
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.pdb
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.Test.deps.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.Test.pdb
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.Test.runtimeconfig.dev.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/GroceryStoreAPI.Test.runtimeconfig.json
GroceryStoreAPI.Test/bin/Debug/netcoreapp3.1/testhost.exe
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.AssemblyInfo.cs
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.AssemblyInfoInputs.cache
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.assets.cache
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.csproj.CopyComplete
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.csproj.CoreCompileInputs.cache
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.csproj.FileListAbsolute.txt
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.csprojAssemblyReference.cache
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.genruntimeconfig.cache
GroceryStoreAPI.Test/obj/Debug/netcoreapp3.1/GroceryStoreAPI.Test.pdb
GroceryStoreAPI.Test/obj/GroceryStoreAPI.Test.csproj.nuget.dgspec.json
GroceryStoreAPI.Test/obj/GroceryStoreAPI.Test.csproj.nuget.g.props
GroceryStoreAPI.Test/obj/GroceryStoreAPI.Test.csproj.nuget.g.targets
GroceryStoreAPI.Test/obj/project.assets.json
GroceryStoreAPI.Test/obj/project.nuget.cache
GroceryStoreAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
GroceryStoreAPI/bin/Debug/netcoreapp3.1/appsettings.json
GroceryStoreAPI/bin/Debug/netcoreapp3.1/database.json
GroceryStoreAPI/bin/Debug/netcoreapp3.1/GroceryStoreAPI.deps.json
GroceryStoreAPI/bin/Debug/netcoreapp3.1/GroceryStoreAPI.exe
GroceryStoreAPI/bin/Debug/netcoreapp3.1/GroceryStoreAPI.pdb
GroceryStoreAPI/bin/Debug/netcoreapp3.1/GroceryStoreAPI.runtimeconfig.dev.json
GroceryStoreAPI/bin/Debug/netcoreapp3.1/GroceryStoreAPI.runtimeconfig.json
GroceryStoreAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GroceryStoreAPI/obj/Debug/netcoreapp3.1/apphost.exe
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.AssemblyInfo.cs
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.AssemblyInfoInputs.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.assets.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.csproj.CopyComplete
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.csproj.CoreCompileInputs.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.csproj.FileListAbsolute.txt
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.csprojAssemblyReference.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.genruntimeconfig.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.MvcApplicationPartsAssemblyInfo.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.MvcApplicationPartsAssemblyInfo.cs
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.pdb
GroceryStoreAPI/obj/Debug/netcoreapp3.1/GroceryStoreAPI.RazorTargetAssemblyInfo.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/staticwebassets/GroceryStoreAPI.StaticWebAssets.Manifest.cache
GroceryStoreAPI/obj/Debug/netcoreapp3.1/staticwebassets/GroceryStoreAPI.StaticWebAssets.xml
GroceryStoreAPI/obj/GroceryStoreAPI.csproj.nuget.dgspec.json
GroceryStoreAPI/obj/GroceryStoreAPI.csproj.nuget.g.props
GroceryStoreAPI/obj/GroceryStoreAPI.csproj.nuget.g.targets
GroceryStoreAPI/obj/project.assets.json
GroceryStoreAPI/obj/project.nuget.cache
